<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    
    <nav>
      <ul>
        <li id="to-left">
          <p><a href="/"> Users - demo </a></p>
        </li>
        {{#if currentUser}}
          <li id="to-right" style="display: flex; padding:0px; align-items: center;">
            <h1 style="margin:0; padding: 0 10px;">Hola {{currentUser.username}}!</h1>
            <form id="logout-form" action="/logout" method="POST" style="width: 200px; margin:0">
              <button style="margin:0px">Logout</button>
            </form>
          </li>
          {{else}}
          <li id="to-right">
            <a href="/signup">Signup</a> <span> | </span>
            <a href="/login">Login</a>
          </li>
        {{/if}}
      </ul>
    </nav>

    {{{body}}}

    <script src="/javascripts/script.js"></script>
  </body>

</html>